<!DOCTYPE html>
<html>
<head>

  	<title>Slim Ben Nasrallah | Pajti remporte la Startup Weekend Tunis 2014</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/articles/show/show.css' />
  <link rel='stylesheet' href='/stylesheets/ui/pace.css' />
  <link rel='stylesheet' href='/stylesheets/ui/fluidbox.css' />
  <link rel='stylesheet' href='/stylesheets/ui/side-slider.css' />

  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Alegreya:400,700,900,400i,700i,900i/Alegreya+Sans:250,300,400,500,700,800,900,250i,300i,400i,500i,700i,800i,900i">

  	<!-- ETUDE DU REFERENCEMENT -->
  	<!-- description meta -->
  	<meta name="description" content="Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.">
  	<meta name="robots" content="index,follow,noarchive">


  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />


  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/ui/pace.min.js"></script>
  <script src="/javascripts/ui/side-slider.js"></script>
  <script src="/javascripts/moment-with-langs.js"></script>
  <script>
    window.onload = function(){
      var slide_button_left = document.getElementById("slide_button_left");
      slide_button_left.onclick = function(){
        new Slider.Slide(this,{ 
          panel: 'panelLeft', 
          type: 'push', 
          dir: 'left'
        });
      };

      // Neglbou les liens mta3 les 3images
      $("#user-article-show-container #user-article-show-core .article-show-shot a").fluidbox();
      $("#user-article-show-container #user-article-show-core .article-show-content .graphic-media a").fluidbox();
      console.log('falwadneha');
    };
  </script>
  <script>
    moment.lang('fr');
    var now = moment("201404122152").fromNow();
    console.log("redigé " + now);
  </script>

</head>
<body>

<div id="panelLeft" class="mdm-panel">
  <ul>
    <li><a href="/"><i class="fa fa-home"></i> Acceuil</a></li>
    <li><a href="/article/new"><i class="fa fa-pencil-square-o"></i> Rediger un article</a></li>
    <li><a href="/palmares"><i class="fa fa-file-text"></i> Mes articles</a></li>
    <li><a href=""><i class="fa fa-user"></i> Mon profil</a></li>
    <li><a href="/profile/edit"><i class="fa fa-user"></i> Mes infos</a></li>


  </ul>
</div>

<div class="wrapper">
  
<div id="user-article-show-cover">
  <a id="slide_button_left" data-dir="left" data-type="push" data-panel="panelLeft"><img src="/images/logo.png" alt=""></a>

  <div class="cover" style="background-image: url('../../images/demo/interview.jpg')">

    <div class="overlay">

      <div class="container">
        
        <h1 class="title" title="Startup Weekend Tunis 2014">
          Pajti remporte la Startup Weekend Tunis 2014 dés maintenant
        </h1>

        <div class="date" title="Ecrit il y'a 201404122152 environ">
          <i class="fa fa-clock-o"></i> <time class="timeago" datetime="201404122152"> Ecrit <script>document.write(now)</script></time><!-- Ecrit il y'a 201404122152 environ -->
        </div>

      </div>

    </div>
  </div>
</div>

<!-- <div class="social">
    <ul>

      <li><span title="Startup Weekend Tunis 2014 à 88% Crédible">88% Crédible</span></li>
    </ul>
</div>
 -->

 <br>
</br>




<div id="user-article-show-container">
  
  <div id="user-article-show-sidebar">

    <div class="username" title="Slim Ben Nasrallah">

      
      <a href="/utilisateur/slimbennasrallah"><img src="/uploads/avatars/fullsize/me.jpeg" alt="" class="the_avatar"></a>

      </br>
      <a href="/utilisateur/slimbennasrallah">Slim Ben Nasrallah</a>
    </div>

    <div class="about" title="A propos de Slim Ben Nasrallah">
      Tout simplement un jeune entrepreneur, qui aime voir d'infinies possibilités partout, et en profiter pour créer quelque chose de prometteur et d'innovateur.
    </div>
    <!-- USER AVATAR AND ABOUT MODULE END -->

    <!-- USER STATS MODULE -->
    <div class="user-stats">
      <div class="articles-count" title="44 articles">
        44 <i class="fa fa-align-right"></i>
      </div>

      <div class="ups" title="12 votes positifs">
        12 <i class="fa fa-thumbs-o-up"></i>
      </div>

      <div class="downs" title="21 votes négatifs">
        21 <i class="fa fa-thumbs-o-down"></i>
      </div>
      
    </div>
    <!-- USER STATS MODULE END -->

  </div>

  <div id="user-article-show-core">

<!--     <div class="article-category">
      <a href="">Politiques</a>
    </div> -->

    <div class="article-show-abstract article-show-block">
      Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.
    </div>
<!-- 
    <div class="article-show-shot article-show-block" style="text-align: center;">
    <a href="">
      <img src="/images/bgs/1.jpg" alt="" style="max-width: 1020px; max-height: 600px;">
    </a>
    </div>
 -->
    <div class="article-show-content article-show-block">

      <p>Which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

      <p><h3>On poste nos interviews audio, et nos speechs du moment</h3></p>

      <p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

      <div class="audio">
        <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/144246488&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
      </div>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>
      
      <p><h3>Fête à l'honneur de notre victoire en vidéo: Cheb Khaled</h3></p>
<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<div class="video">
  <iframe width="100%" height="315" src="//www.youtube.com/embed/0KyX1JOvSqU" frameborder="0" allowfullscreen></iframe>
</div>


<p><blockquote>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</blockquote></p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p><h3>Souvenir souvenir, on partage nos photos, pour la postérité</h3></p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<div class="graphic-media" style="max-width: 400px; float: left; margin-right: 30px;">
  <a href="#"><img src="/images/demo/wassefredbull.jpg" alt="" class="left" style="max-width: 400px; float: left;"></a>
</div>


<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<div class="graphic-media" style="max-width: 400px; float: right; margin-left: 30px;">
  <a href="#"><img src="/images/demo/hp.jpg" alt="" class="right" style="max-width: 400px; float: right;"></a>
</div>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p><h3>Hashtag un jour, hashtag toujours</h3></p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the #noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config. #Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a #moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p><blockquote>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</blockquote></p>


<p><h3>Où est-ce? Nos amis veulent venir vérifier et participer...</h3></p>
<div class="maps">
  <a href="#"><img src="/images/demo/map.png" alt=""></a>
</div>


<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>

<p>Moment will still create a moment global, which is useful to plugins and other third-party code. If you wish to squash that global, use the noGlobal option on the module config.</p>
    </div>


  </div>

    <div id="article-social-share">
      <ul>
        <li><a href=""><img src="/images/ui/social/facebook500.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/twitter.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/instagram.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/pinterest.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/googleplus-revised.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/livejournal.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/tumblr.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/stumbleupon.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/foursquare.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/reddit.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/digg.png" alt=""></a></li>
        <li><a href=""><img src="/images/ui/social/email.png" alt=""></a></li>
      </ul>
    </div>

  <!-- AddThis Button BEGIN 
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <a class="addthis_button_tweet"></a>
  <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
  <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532042140a1f9e7a"></script>
   AddThis Button END -->

  <div id="vote">
      <a href="" class="subelement"><i class="fa fa-gavel"></i> 82% Crédible</a>

      <a href="" class="vote-up subelement"><i class="fa fa-check"></i> Je confirme</a>

      <a href="" class="vote-down subelement"><i class="fa fa-times"></i> Rumeur</a>

      <a href="" class="me-likey subelement"><i class="fa fa-thumbs-o-up"></i> Je suis pour</a>

      <a href="" class="me-no-likey subelement"><i class="fa fa-thumbs-o-down"></i> Je suis contre</a>

  </div>

<!--   <div id="tags">
    efef
  </div> -->


<div id="article-comments">
    <div class="label" title="Commentaires des utilisateurs pour Slim">
      Commentaires des utilisateurs
    </div>

    <div class="comments">

      <div class="comment" title="commentaire de Slim">

        <div class="avatar" title="avatar de Slim">
          <img src="/uploads/avatars/fullsize/5339147daf72928e96306970" alt="">
        </div>

        <div class="comment-content" title="contenu du commentaire de Slim">
          <b><a href="/utilisateur/slimbennasrallah">Anis Allagui</a></b> - Emotion is at the core of of a solid business identity. The best logos and brands
        </div> 

      </div>

      <div class="comment" title="commentaire de Slim">

        <div class="avatar" title="avatar de Slim">
          <img src="/uploads/avatars/fullsize/me.jpeg" alt="">
        </div>

        <div class="comment-content" title="contenu du commentaire de Slim">
          <b><a href="/utilisateur/slimbennasrallah">Slim Ben Nasrallah</a></b> - Emotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brands
        </div> 

      </div>

      <div class="comment" title="commentaire de Slim">

        <div class="avatar" title="avatar de Slim">
          <img src="/uploads/avatars/fullsize/53489d32de132f8a06978617" alt="">
        </div>

        <div class="comment-content" title="contenu du commentaire de Slim">
          <b><a href="/utilisateur/slimbennasrallah">Marwen Belghith</a></b> - Emotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brands
        </div> 

      </div>

      <div class="comment" title="commentaire de Slim">

        <div class="avatar" title="avatar de Slim">
          <img src="/uploads/avatars/fullsize/me.jpeg" alt="">
        </div>

        <div class="comment-content" title="contenu du commentaire de Slim">
          <b><a href="/utilisateur/slimbennasrallah">Slim Ben Nasrallah</a></b> - Emotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brandsEmotion is at the core of of a solid business identity. The best logos and brands
        </div> 

      </div>

    </div>
<!--     
    <div class="add-comment">
      form_for(Comment.new) do |f|

      f.hidden_field :user_id, value: current_user.id
      f.hidden_field :article_id, value: @article.id

      f.text_area :content, :class => "comment-form"

      <div class="inputs">
        <input type="submit" value="Commenter">
      </div>
    </div>


  </div> -->


  </div>

  <div id="similar-articles">
    <div class="label">
      Articles similaires
    </div>

    <div class="other-articles">

      <div class="article" style="background-image: url('/images/demo/bouffe.jpeg');">
        <div class="overlay">
          <div class="title">
            <a href="#">
              Séance de formation au model SWOT
            </a>
          </div>
        </div>
      </div>
      
      <div class="article" style="background-image: url('/images/demo/tawla.png');">
        <div class="overlay">
          <div class="title">
            <a href="#">
              Création d'un business plan
            </a>
          </div>
        </div>
      </div>

      <div class="article" style="background-image: url('/images/demo/lkol.jpeg');">
        <div class="overlay">
          <div class="title">
            <a href="#">
              Cérémonie de fermeture de la Startupweekend Tunis
            </a>
          </div>
        </div>
      </div>

      <div class="article" style="background-image: url('/images/demo/ships.JPG');">
        <div class="overlay">
          <div class="title">
            <a href="#">
              Lancement de l'Esprit Factory à Esprit
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="see-more" style="text-align: center; font-size: 25px; font-weight: 700; color: #000; padding-top: 20px; padding-bottom: 20px;">
    <i class="fa fa-refresh"></i> Voir plus...
  </div>

</div>


    <script type="text/javascript" src="/javascripts/ui/imagesloaded.min.js"></script>
    <script type="text/javascript" src="/javascripts/ui/fluidbox.js"></script>
<script>
  

  $(window).scroll(function() {
  oVal = ($(window).scrollTop() / 540);
  //$('.blur').css('opacity', oVal);
  // $('.cover').css({'opacity': 1 - oVal});
  $('.cover .container').css({'padding-top': 100 + (300 * oVal)});

});
</script>

</body>
</html>