<!DOCTYPE html>
<html>
<head>

  	<title>Slim Ben Nasrallah</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/user/blog.css' />

  	<!-- ETUDE DU REFERENCEMENT -->
  	<!-- description meta -->
  	<meta name="description" content="">
  	<meta name="robots" content="index,follow,noarchive">



	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Alegreya:400,700,900,400i,700i,900i/Alegreya+Sans:250,300,400,500,700,800,900,250i,300i,400i,500i,700i,800i,900i">


	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/ui/pace.min.js"></script>
	<script src="/javascripts/ui/side-slider.js"></script>
	<script src="/javascripts/moment-with-langs.js"></script>
</head>
<body>

	<!-- BLOG COVER -->
	<div class="blurImg">
		<div class="blur" style="background-image: url('/images/demo/tower.jpg')">
		</div>
	</div>
	<!-- END BLOG COVER -->

	<div id="user-container">

		<div class="timeline-name">
			<h1>Startups</h1>
		</div>

		<div class="timeline-user-info">
			<div class="avatar">
				<a href="/"><img src="/uploads/avatars/fullsize/me.jpeg" alt="" class="the_avatar"></a>
			</div>

			<div class="infos">
				<b>Slim Ben Nasrallah</b> - Tout simplement un jeune entrepreneur, qui aime voir d'infinies possibilités partout, et en profiter pour créer quelque chose de prometteur et d'innovateur.
			</div>
		</div>

		<div class="user-popular-articles" title="Articles populaire de">
			<div class="label">
				Ses articles populaires
			</div>

			<div class="article">
				StartupWeekend 2014: Le challenge
			</div>
			<div class="article">
				Equipe Pajti, on y vient, et on gagne
			</div>
			<div class="article">
				Aymen, Khalil, Fadhel, des coachs et ...  Des amis
			</div>
		</div>

		<div class="fluid-bottom">
			<a href="#user-timeline"><img src="/images/ui/buttons/down.png" alt=""></a>
		</div>
	</div>

	<div id="user-timeline">

		<div class="fluid-top">
			<a href="#user-container"><img src="/images/ui/buttons/up.png" alt=""></a>
		</div>

		<div class="user-time-line-articles">
					<!-- WIDE SCREEN ARTICLE MODULE STARTS HERE -->
					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<div class="timeline-article-2" style="background-image: url('/images/demo/ships.JPG')">

						<div class="overlay">

							<div class="container">

								<div class="category">
									Dans #Entreprenariat
								</div>  

								<div class="title">
								<a href="../article/show/7812">L'équipe Pajti participe à la StartupWeekend</a>
								</div>  

								<div class="article-abstract">
									An official Startup Weekend event, High School Startup Weekend was organized by Little Rock’s Noble Impact, which works in partnership with the University of Arkansas Clinton School of Public Service to engage students in public service through entrepreneurship.
								</div>

								<div class="article-community">

									<span class="article-credit">
										100% Crédible
									</span>

									<div class="article-stats">
										<div class="article-read">
											<a href="../article/show/">Lire la suite</a>
										</div>

										<span class="comments" title="80 commentaires">
											32 Commentaires
										</span>

										<span class="reads" title="">
											78 Vues
										</span>
									</div>

								</div>

							</div>
						</div>

					</div>

					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<!-- WIDE SCREEN ARTICLE MODULE ENDS HERE -->


					<!-- WIDE SCREEN ARTICLE MODULE STARTS HERE -->
					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<div class="timeline-article-3">
            
            			<div class="shot" style="background-image: url('/images/demo/hp.jpg')">
							<div class="overlay">

							</div>
						</div>

						<div class="synopsis">

							<div class="category">
								Dans #Entreprenariat
							</div>  
                
			                <div class="title">
			                	<a href="../article/show/">Formation HP avec Madame Afifa</a>
			                </div>  

							<div class="article-abstract">
								The top prize went to a North Little Rock High School venture called CatchinUp, which aims to help high-school students who fall behind in their school work. The idea, from students Mason Graves, Yehudi Jaquex, Nick Killough and Jose Romero, would place cameras in classrooms so teachers could record their lessons and provide notes. Students could then have online access to lectures, lesson plans and teachers’ notes.

							</div>

							<div class="article-community">

								<span class="article-credit">
									80% 
								</span>

								<div class="article-stats">
									<div class="article-read">
										<a href="../article/show/">Lire la suite</a>
									</div>

									<span class="comments" title="80 commentaires">
										72 Commentaires
									</span>

									<span class="reads" title="">
										102 Vues
									</span>
								</div>

							</div>
              
            			</div>
          			</div>



					<!-- WIDE SCREEN ARTICLE MODULE STARTS HERE -->
					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<div class="timeline-article-2" style="background-image: url('/images/demo/tawla.png')">

						<div class="overlay">

							<div class="container">

								<div class="category">
									Dans #Festivité et évènement
								</div>  

								<div class="title">
								<a href="../article/show/7812">Et un anniversaire, un, joyeux anniversaire Wael :-)</a>
								</div>  

								<div class="article-abstract">
									An official Startup Weekend event, High School Startup Weekend was organized by Little Rock’s Noble Impact, which works in partnership with the University of Arkansas Clinton School of Public Service to engage students in public service through entrepreneurship.
								</div>

								<div class="article-community">

									<span class="article-credit">
										98% Crédible
									</span>

									<div class="article-stats">
										<div class="article-read">
											<a href="../article/show/">Lire la suite</a>
										</div>

										<span class="comments" title="80 commentaires">
											32 Commentaires
										</span>

										<span class="reads" title="">
											78 Vues
										</span>
									</div>

								</div>

							</div>
						</div>

					</div>

					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<!-- WIDE SCREEN ARTICLE MODULE ENDS HERE -->


					<!-- WIDE SCREEN ARTICLE MODULE STARTS HERE -->
					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<div class="timeline-article-2" style="background-image: url('/images/demo/bouffe.jpeg')">

						<div class="overlay">

							<div class="container">

								<div class="category">
									Dans #Festivité et évènement
								</div>  

								<div class="title">
								<a href="../article/show/7812">Bouffer à la startup-attitude</a>
								</div>  

								<div class="article-abstract">
									An official Startup Weekend event, High School Startup Weekend was organized by Little Rock’s Noble Impact, which works in partnership with the University of Arkansas Clinton School of Public Service to engage students in public service through entrepreneurship.
								</div>

								<div class="article-community">

									<span class="article-credit">
										100% Crédible
									</span>

									<div class="article-stats">
										<div class="article-read">
											<a href="../article/show/">Lire la suite</a>
										</div>

										<span class="comments" title="80 commentaires">
											32 Commentaires
										</span>

										<span class="reads" title="">
											78 Vues
										</span>
									</div>

								</div>

							</div>
						</div>

					</div>

					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<!-- WIDE SCREEN ARTICLE MODULE ENDS HERE -->


					<!-- WIDE SCREEN ARTICLE MODULE STARTS HERE -->
					<!-- WASSA3 WASSA3 BESH TCAPTI BA3AD -->
					<div class="timeline-article-3">
            
            			<div class="shot" style="background-image: url('/images/demo/wassefredbull.jpg')">
							<div class="overlay">

							</div>
						</div>

						<div class="synopsis">

							<div class="category">
								Dans #Entreprenariat
							</div>  
                
			                <div class="title">
			                	<a href="../article/show/">Redbull, first thing in the morning</a>
			                </div>  

							<div class="article-abstract">
								The top prize went to a North Little Rock High School venture called CatchinUp, which aims to help high-school students who fall behind in their school work. The idea, from students Mason Graves, Yehudi Jaquex, would place cameras in classrooms so teachers could record their lessons and provide notes. Students could then have online access to lectures, lesson plans and teachers’ notes.

							</div>

							<div class="article-community">

								<span class="article-credit">
									78% 
								</span>

								<div class="article-stats">
									<div class="article-read">
										<a href="../article/show/">Lire la suite</a>
									</div>

									<span class="comments" title="80 commentaires">
										72 Commentaires
									</span>

									<span class="reads" title="">
										102 Vues
									</span>
								</div>

							</div>
              
            			</div>
          			</div>





<script>
  $(window).scroll(function() {
    oVal = ($(window).scrollTop() / 740);
    //$('.blur').css('opacity', oVal);
    if (oVal < 0.9) {
      $('.blur').css({'opacity': 1 - oVal});
    } else {
      $('.blur').css({'opacity': 0.10});
    };
    
  });


</script>


<script>
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
  });
</script>

</body>
</html>