<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
    	<link rel='stylesheet' href='/stylesheets/home/home.css' />


  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Alegreya:400,700,900,400i,700i,900i/Alegreya+Sans:250,300,400,500,700,800,900,250i,300i,400i,500i,700i,800i,900i">
	</head>
	<body>
		<div id="home-container" style="">
			<div class="left-half">
				<div class="overlay">
					<div class="caption">
						<div class="logo">
							<a href=""><img src="/images/logo.png" alt=""></a>
						</div>

						<div class="description">
							<div class="label">
								Le journalisme 2.0 <i class="fa fa-laptop"></i>
							</div>
							Nous révolutionnant le journalisme et nous le faisons passé à sa nouvelle générations.
						</div>
						<div class="social-adresses">
							<a href="" class="facebook-page"><i class="fa fa-facebook-square"></i></a> 
							<a href="" class="twitter-page"><i class="fa fa-twitter-square"></i></a> 
							<a href="" class="pinterest-page"><i class="fa fa-pinterest-square"></i></a> 
							<a href="" class="google-page"><i class="fa fa-google-plus-square"></i></a>

						</div>

						<div class="social-share">
							  <!-- AddThis Button BEGIN -->
							  <div class="addthis_toolbox addthis_default_style ">
							  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
							  <a class="addthis_button_tweet"></a>
							  <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
							  <a class="addthis_counter addthis_pill_style"></a>
							  </div>
							  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
							  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532042140a1f9e7a"></script>
							  <!-- AddThis Button END -->
						</div>						
					</div>

				</div>
				
			</div>
			<div class="right-half">
				<div class="block">
					<div class="top-links">
						<a href="/login"><i class="fa fa-sign-in"></i> Se Connecter</a>
						<a href="/register"><i class="fa fa-users"></i> Enregistrer</a>
					</div>

					<div class="explicatif">
						Redécrouvez la littérature et le journalisme
					</div>

					<div class="graphic">
						<img src="/images/ui/screen.png" alt="">
					</div>

					<div class="bottom-links">
						<a href="">Qui sommes nous?</a>
						<a href="">Termes d'utilisation</a>
						<a href="">Nous Contacter</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>