<!DOCTYPE html>
<html>
	<head>
	
		<title>Pajti | Enregistrement</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/auths/register.css' />
	</head>

	<body>
		<div id="register-page">

			<div class="backgrounder">
				
			</div>


			<div class="login-box">
				
				<div class="header">
					<h2>S'enregistrer</h2>
				</div>

				<div class="connect-facebook" style="display: none;">
					<a href=""><i class="fa fa-facebook-square"></i> Connexion avec Facebook</a>
				</div>
					
				<form action="/signup" method="post">
					<div>
						<input type="text" name="invite_code" placeholder="Votre code d'invitation">
					</div>

					<div>
						<input type="text" name="username" placeholder="Your Username please">
					</div>

					<div>
						<input type="text" name="email" placeholder="Votre addresse mail">
					</div>
					
					<div>
<!-- 						<label for="firstname">Prénom</label> -->
						<input type="text" name="firstname" placeholder="Prénom">
					</div>
					
					<div>
						<!-- <label for="lastname">Nom</label> -->
						<input type="text" name="lastname" placeholder="Nom">
					</div>

				  	<div>
				  		<input type="password" name="password" placeholder="password">
				  	</div>

					<div class="actions">
						<button type="Submit" class="button">Submit</button>
					</div>

				</form>



			</div>

		</div>
	</body>
</html>


