<div id="top-cover">
	<div class="background">
		zfeafaef
	</div>

	<div class="cover-content">
		<div class="quoted-author">
			<a href="">Hachmi Ben Hammouda</a>
		</div>

		<div class="quote">
			In this post I’ll demonstrate how to add user authentication to Node.js with Passport.js.
		</div>

		<div class="what-we-are">
			Grab the final code from the repo found here. Ask questions. Next time we’ll be taking a step back to create user stories and reorganize our codebase. Perhaps we’ll even get to some testing!
		</div>
	</div>
</div>